In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, dense_rank, row_number

In [0]:
# Sample data: list of tuples (student_id, name, marks)
data = [
    (1, "Alice", 85),
    (2, "Bob", 92),
    (3, "Charlie", 85),
    (4, "David", 92),
    (5, "Eve", 78)
]

# Define the column names for the DataFrame
columns = ["student_id", "name", "marks"]

# Create a DataFrame using the sample data
df = spark.createDataFrame(data, columns)

# Display the original DataFrame
df.show()

+----------+-------+-----+
|student_id|   name|marks|
+----------+-------+-----+
|         1|  Alice|   85|
|         2|    Bob|   92|
|         3|Charlie|   85|
|         4|  David|   92|
|         5|    Eve|   78|
+----------+-------+-----+

In [0]:
# Define the window specification
windowSpec = Window.orderBy(df['marks'].desc())

In [0]:
df.withColumn("row_number", row_number().over(windowSpec)) \
  .withColumn("rank", rank().over(windowSpec)) \
  .withColumn("dense_rank", dense_rank().over(windowSpec)) \
  .show()

+----------+-------+-----+----------+----+----------+
|student_id|   name|marks|row_number|rank|dense_rank|
+----------+-------+-----+----------+----+----------+
|         2|    Bob|   92|         1|   1|         1|
|         4|  David|   92|         2|   1|         1|
|         1|  Alice|   85|         3|   3|         2|
|         3|Charlie|   85|         4|   3|         2|
|         5|    Eve|   78|         5|   5|         3|
+----------+-------+-----+----------+----+----------+